/* ============ 반응형 ============ */
@media screen and (max-width: 767px) {
  /* Header */
  .header {
    &__top {
      height: 44px;
      border-bottom: 1px solid #e3e3e3;
    }

    &__logo {
      left: 10px;
      transform: translateY(-50%);
      z-index: 1;
    }

    &__util,
    &__sns-list,
    &__lang-select {
      display: none;
    }
  }

  .logo {
    &.on {
      .logo__link {
        background-image: url(../../image/logo_m_w.png);
      }
    }

    &__link {
      background-image: url(../../image/logo_m.png);
      width: 71px;
      padding: 0;
    }
  }

  .btn-toggle-menu {
    display: block;
    margin-left: auto;
    margin-right: 3px;
    outline: none;
    z-index: 1;

    &.on {
      i {
        background-image: url(../../image/btn_menu_close.png);
        width: 14px;
        height: 14px;
      }
    }

    i {
      background: url(../../image/btn_menu.png) no-repeat center center;
      background-size: 100%;
      display: inline-block;
      width: 15px;
      height: 13px;
    }
  }

  /* Header - GNB */
  .gnb {
    display: none;
  }

  .gnb-mo {
    background-color: #f2f2f2;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.on {
      display: block;
    }

    &__top {
      background-color: $color-primary;
      width: 100%;
      height: 44px;
    }

    &__menu {
      background-color: $color-white;
      padding-left: 30px;
      border-bottom: 2px solid #e3e3e3;
    }

    &__link-category {
      position: relative;
      display: block;
      width: 100%;
      height: 54px;
      font-size: 16px;
      line-height: 54px;
      border-bottom: 1px solid #e3e3e3;

      &.on {
        i::after {
          transform: rotate(-180deg);
        }
      }

      i::after {
        content: "";
        background: url(../../image/gnb_1dep_off.png) no-repeat center center;
        background-size: 100%;
        position: absolute;
        top: 24px;
        right: 25px;
        width: 11px;
        height: 6.5px;
        transition: 0.3s;
      }
    }

    &__sub-menu {
      display: none;
    }

    &__link-category.on + &__sub-menu {
      display: block;
    }

    &__link-sub-menu {
      position: relative;
      display: block;
      height: 42px;
      padding-left: 20px;
      color: #666;
      line-height: 42px;

      &.on {
        color: $color-primary;

        i::after {
          background-image: url(../../image/gnb_2dep_minus.png);
        }
      }

      i::after {
        content: "";
        background: url(../../image/gnb_2dep_plus.png) no-repeat center center;
        background-size: 100%;
        position: absolute;
        top: 16.5px;
        right: 25px;
        width: 9px;
        height: 9px;
      }
    }

    &__last-sub-menu {
      background-color: #f6f6f6;
      display: none;
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 20px;

      &-item {
        position: relative;
        width: 50%;
        padding-left: 17px;
        margin: 10px 0;

        &::after {
          content: "";
          background: url(../../image/gnb_3dep_off.png) no-repeat center;
          position: absolute;
          top: 9px;
          left: 8px;
          width: 2px;
          height: 2px;
        }
      }
    }

    &__link-sub-menu.on ~ &__last-sub-menu {
      display: flex;
    }

    &__link-last-sub {
      display: block;
      font-size: 13px;
      letter-spacing: -1px;
    }

    &__link-container {
      margin: 20px 0;
    }

    &__link-list {
      display: flex;
      flex-wrap: wrap;

      &-item {
        background-color: $color-white;
        width: 50%;
        height: 50px;
        border-top: 1px solid #e3e3e3;

        &:nth-child(2n) {
          border-left: 1px solid #e3e3e3;
        }

        &:last-child {
          width: 100%;
          border-bottom: 1px solid #e3e3e3;
        }
      }
    }

    &__link-etc {
      display: block;
      padding-left: 38px;
      color: #666;
      letter-spacing: -1px;
      line-height: 50px;

      &--customer {
        background: url(../../image/ico_link_customer.png) no-repeat 18.5px 17px;
        background-size: 9px 16px;
      }

      &--road {
        background: url(../../image/ico_link_road.png) no-repeat 18px 17px;
        background-size: 12px 16px;
      }

      &--hiring {
        background: url(../../image/ico_link_talent.png) no-repeat 18px 17px;
        background-size: 12px 16px;
      }

      &--market-sys {
        background: url(../../image/ico_link_buy.png) no-repeat 15.5px 18.5px;
        background-size: 16px 14px;
      }

      &--privacy {
        padding: 0;
        text-align: center;
      }
    }

    &__footer {
      &-menu {
        background-color: $color-white;
      }

      &-sub-menu {
        display: none;
        flex-wrap: wrap;

        &-item {
          width: 50%;
          border-bottom: 1px solid #e3e3e3;

          &:nth-child(odd) {
            border-right: 1px solid #e3e3e3;
          }
        }
      }

      .gnb-mo__link-footer.on ~ &-sub-menu {
        display: flex;
      }
    }

    &__link-footer {
      position: relative;
      display: block;
      padding-left: 21px;
      letter-spacing: -1px;
      line-height: 50px;
      border-bottom: 1px solid #e3e3e3;

      &.on {
        color: $color-primary;

        i::after {
          background-image: url(../../image/gnb_2dep_minus.png);
        }
      }

      i::after {
        content: "";
        background: url(../../image/gnb_2dep_plus.png) no-repeat center center;
        background-size: 100%;
        position: absolute;
        top: 16.5px;
        right: 25px;
        width: 9px;
        height: 9px;
      }
    }

    &__link-footer-sub {
      display: block;
      padding-left: 21px;
      color: #444;
      font-size: 13px;
      letter-spacing: -1px;
      line-height: 50px;
    }

    &__sns-list {
      display: flex;
      align-items: center;
      width: 100%;
      height: 66px;
      padding: 0 35px;

      .sns-list__item {
        width: 33.33333%;
      }

      .sns-list__link {
        width: 28px;
        width: 28px;
        margin: 0 auto;
      }
    }
  }

  /* Footer */
  .footer {
    position: relative;

    &__inner {
      padding: 25px 10px 30px;
    }

    &__content {
      padding: 13px 0 0;
      margin-top: 35px;
      text-align: center;
      border: none;
      border-top: 1px solid #e3e3e3;
    }

    &__info {
      margin-top: 3px;
      font-size: 13px;

      &:first-child {
        margin-top: 9px;
      }
    }

    &__bottom {
      // justify-content: center;
      padding: 0;
    }

    &__link--box {
      margin-left: 5px;
    }

    &__logo {
      position: absolute;
      top: 16px;
      left: 18px;
      width: 101px;
      height: 26px;
      background-size: contain;
    }

    &__copyright {
      padding: 0;
      margin: auto;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: normal;
    }

    &__sns-list {
      display: none;
    }
  }
}
